---
layout: page
title: Training
permalink: /training/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>We offer all BSAC diver grades up to Advanced Diver</h1>
                    <p>We can also broaden your experience with many Skill Development Courses such as the ones below</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">Everything</li>
                    {% for grp in site.data.sdcs.groups %}
                    <li class="filter" data-filter=".{{ grp }}">{{ grp }}</li>
                    {% endfor %}
                </ul>
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                   {% for sdc in site.data.sdcs.sdcs %}
                     <li class="mix {{ sdc.group }}">
                      <a href="#">
                        <img src="{{ site.baseurl }}{{ sdc.image_src }}" alt="{{ sdc.image_alt }}">
                        <div class="overly">
                          <div class="position-center">
                            <h2>{{ sdc.name }}</h2>
                            <p>{{ sdc.detail }}</p>
                          </div>
                        </div>
                      </a>
                    </li>
                   {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
